* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 200px;
}

header a {
  margin-right: 20px; 
  text-decoration: none;
  color: black;
}

.hero {
  background-image: url(./images/hero.jpg);
  background-size: cover;
  height: 100vh;
  color: white;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero a {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.744);
  border-radius: 8px;
  text-decoration: none;
  color: rgb(71, 62, 62);
  width: 180px;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.hero h3 {
  font-size: 25px;
  margin-bottom: 15px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid div {
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
}

#imagem01 {
  background-image: url(./images/itacare-01.jpg);
  flex-basis: 35%;
}

#imagem02 {
  background-image: url(./images/itacare-02.jpg);
  flex-basis: 55%;
}

#imagem03 {
  background-image: url(./images/itacare-03.jpg);
  flex-basis: 55%;
}

#imagem04 {
  background-image: url(./images/itacare-04.jpg);
  flex-basis: 35%;
}

.about-hotel {
  padding: 50px;
  text-align: center;
}

.about-hotel h3, p {
  margin-bottom: 40px;
}

.about-hotel h3 {
  font-size: 25px;
}